<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input
          id="searchField"
          name="searchField"
          [(ngModel)]="searchField"
          type="text"
          class="form-control"
          placeholder="Search"
          (input)="onSearchChange()"
        />
        <p class="text-secondary">
          Total products: {{ filteredProducts.length }}
        </p>
      </div>
      <div *ngFor="let product of filteredProducts">
        <div class="bg-white border rounded py-3 px-4 mb-2">
          <a
            [routerLink]="['/admin/product', product.id_product]"
            class="text-decoration-none row"
          >
            <h4 class="col-11">{{ product.name }}</h4>
            <p class=" col-1">
              <span class="badge bg-success" *ngIf="product.visible"
                >Visible</span
              >
              <span class="badge bg-secondary" *ngIf="!product.visible"
                >Hidden</span
              >
            </p>
            <div class="col-12 text-dark">{{ product.description }}</div>
            <p class="col-12 text-secondary">{{ product.price }}$</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-new" data-toggle="tooltip" title="Create a new note">
    <img [src]="newPath" width="70" (click)="createNewProduct()" />
</div>
</div>
