<div class="pb-5 min-vh-100 main-bg">
  <nav class="navbar navbar-expand navbar-light justify-content-between px-4">
    <a
      class="navbar-brand d-flex mr-2 text-decoration-none"
      routerLink="/catalog"
    >
      <img [src]="logoPath" [width]="logoWidth" />
    </a>
    <ul class="nav" *ngIf="isGuest && isAdmin">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admin/catalog">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/catalog">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/create-admin">Create Admin</a>
      </li>
    </ul>
    <div class="ml-auto">
      <button
        class="btn btn-primary"
        (click)="redirectToLogin()"
        *ngIf="isGuest && isAdmin"
      >
        Login
      </button>
      <div *ngIf="!isGuest && !isAdmin">
        <a class="btn p-1 position-relative" href="/orders">
          <img [src]="cartPath" [width]="20" />
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            {{ cartCount }}
          </span>
        </a>
        <div class="dropdown mx-3 my-auto">
          <img [src]="userPath" [width]="20" />
          <div class="dropdown-content">
            <a class="dropdown-item" href="/profile-manager">Manage profile</a>
            <button class="dropdown-item border-0" (click)="disconnect()">
              Logout
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="isGuest && isAdmin">
        <button class="btn btn-primary" (click)="disconnect()">
          Logout
        </button>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
