<div class="container">
  <h1 class="text-center">Signup</h1>
  <div>
    <form #form="ngForm" (ngSubmit)="onEnter(form)">
      <div class="w-75 mx-auto">
        <div class="row w-100">
          <div class="form-group col p-2">
            <label for="first_name">First name</label>
            <input
              id="first_name"
              name="first_name"
              class="form-control"
              type="text"
              placeholder="First name"
              [(ngModel)]="user.first_name"
              required
              #firstNameField="ngModel"
              [class.field-error]="form.submitted && firstNameField.invalid"
            />
            <small
              class="text-danger"
              *ngIf="form.submitted && firstNameField.invalid"
            >
              Input not valid
            </small>
          </div>
          <div class="form-group col p-2">
            <label for="last_name">Last name</label>
            <input
              id="last_name"
              name="last_name"
              class="form-control"
              type="text"
              placeholder="Last name"
              [(ngModel)]="user.last_name"
              required
              #lastNameField="ngModel"
              [class.field-error]="form.submitted && lastNameField.invalid"
            />
            <small
              class="text-danger"
              *ngIf="form.submitted && lastNameField.invalid"
            >
              Input not valid
            </small>
          </div>
        </div>
        <div class="row w-100">
          <div class="form-group col-12 p-2">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              class="form-control"
              type="email"
              placeholder="example@mail.com"
              [(ngModel)]="user.email"
              required
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              #emailField="ngModel"
              [class.field-error]="form.submitted && emailField.invalid"
            />
            <small
              class="text-danger"
              *ngIf="form.submitted && emailField.invalid"
            >
              Email not valid
            </small>
          </div>
          <div class="form-group col p-2">
            <label for="telephone">Telephone</label>
            <input
              id="telephone"
              name="telephone"
              class="form-control"
              type="text"
              placeholder="000 0000000"
              [(ngModel)]="user.telephone"
              required
              #telephoneField="ngModel"
              [class.field-error]="form.submitted && telephoneField.invalid"
            />
            <small class="text-danger" *ngIf="form.submitted">
              Telephone not valid
            </small>
          </div>
          <div class="form-group col p-2">
            <label for="telephone">Date of Birth</label>
            <input
              id="birthDate"
              name="birthDate"
              class="form-control"
              type="date"
              [(ngModel)]="user.birth_date"
              required
              #birthDateField="ngModel"
              [class.field-error]="form.submitted && birthDateField.invalid"
            />
            <small class="text-danger" *ngIf="form.submitted">
              Date not valid
            </small>
          </div>
        </div>
        <div class="row w-100">
          <div class="form-group col p-2">
            <label for="password">Password</label>
            <input
              id="password"
              name="password"
              class="form-control"
              type="password"
              placeholder="••••••••"
              [(ngModel)]="user.password"
              required
              #passwordField="ngModel"
              [class.field-error]="form.submitted && passwordField.invalid"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            />
            <small
              class="text-danger"
              *ngIf="form.submitted && passwordField.invalid"
            >
              Must contain at least one number and one uppercase and lowercase
              letter, and at least 8 or more characters
            </small>
          </div>
          <div class="form-group col p-2">
            <label for="confirmPassword">Confirm Password</label>
            <input
              id="confirmPassword"
              name="confirmPassword"
              class="form-control"
              type="password"
              placeholder="••••••••"
              [(ngModel)]="confirmPassword"
              required
              #confirmPasswordField="ngModel"
              [class.field-error]="
                (form.submitted && confirmPasswordField.invalid) ||
                confirmPasswordField.value != passwordField.value
              "
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            />
            <small
              class="text-danger"
              *ngIf="
                (form.submitted && confirmPasswordField.invalid) ||
                confirmPasswordField.value != passwordField.value
              "
            >
              Not the same password
            </small>
          </div>
        </div>
        <div class="row w-100 px-2 py-2">
          <button type="submit" class="btn btn-primary">SIGNUP</button>
        </div>
      </div>
    </form>
  </div>
</div>
